@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@700&display=swap');

img{
  display: block;
  margin: auto;
  width: 227px;
  height: 227px;
}

h1{
 text-align: center;
 font-family: 'Poppins';
 font-style: normal;
 font-weight: 700;
 font-size: 24px;
 margin-top: 53px;
}

.main-container{
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  width: 550px;
}

input{
  width: 200px;
  height: 40px;
  border: none;
  border: 1px solid #A8A8B3;
  border-radius: 3px;
  padding-left: 10px;
}

.input-container{
  gap: 15px;
  display: flex;
}

.button{
  width: 580px;
  background: #373737;
  color: white;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
  height: 40px;
  border-radius: 3px;
  font-family: "Roboto";
  align-items: center;
  cursor: pointer;
}

.hr{
  background-color:  #2A166F;
  height: 1px;
  width: 105%;
  margin: auto;
  margin-top: 20px;
 }

 h2{
   font-family: 'Poppins' ;
   color:#E73F5D;
 }

h3{
  color: #27AAE1;
  font-family: 'Poppins';
  font-size: 20px;
  
}

.car-container{

  width: 800px;
  margin:auto;
}

ul{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }

  li{
    display: flex;
    align-items: center;
    text-align: center;
  }

.liberar{
  font-family: 'Poppins';
  font-size: 20px; 
  color: #00891E;
  margin-left: 15px;
  cursor: pointer;
}






