@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@700&display=swap');

img{
  display: block;
  margin: auto;
  width: 227px;
  height: 227px;
}

h1{
 text-align: center;
 font-family: 'Poppins';
 font-style: normal;
 font-weight: 700;
 font-size: 24px;
 margin-top: 53px;
}

.main-container{
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  width: 530px;
}

input{
  width:  150px;
  height: 20px;
  border: none;
  border: 1px solid #A8A8B3;
  padding: 6px;
  border-radius: 3px;
}

.input-container{
  gap: 15px;
  display: flex;
}

.button{
  width: 511px;
  background: #373737;
  color: white;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
  height: 20px;
  padding: 6px;
  border-radius: 3px;
  font-family: "Roboto";
}

.hr{
  background-color:  #2A166F;
  height: 2px;
  width: 511px;
  margin: auto;
  margin-top: 20px;
 

}



